.header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    width: 100%;
    margin: 20px;
}

.textfields {
    display: flex;
    flex-direction: column;
    
    margin: 10px;
    gap: 20px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 20px;
}



