.line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 100px;
    margin-bottom: 5px;
}

.font{
    font-size: 20px;
}

.btn{
    display: inline-flex;
    gap: 20px;
}